12. Compute given Num_list = [5, 6,8 ,34,89,1] to get desired output
Output: Out_list=[11,14,42,123,90]

In [ ]:
L=[5,6,8,34,89,1]
Out_list=[]
for i in range(len(L)-1):
    ol=L[i]+L[i+1]
    Out_list.append(ol)
print("Out_list=",Out_list)

Out_list= [11, 14, 42, 123, 90]

13. Compute given Num_tuple = (5, 6,8 ,3,9,1) to get desired output
Output: Out_list = [5, 30, 240, 720, 6480, 6480]

In [ ]:
N=(5,6,8,3,9,1)
Out_list=[]
Out_list.append(N[0])
for i in range(len(N)-1):
    M=Out_list[i]*N[i+1]
    Out_list.append(M)
print("Out_list=",Out_list)

Out_list= [5, 30, 240, 720, 6480, 6480]

14.  Write a Python code that takes a number and returns a list of its digits. So for 586392 it should return [5,8,6,3,9,2].

In [ ]:
number=input("Enter a number: ")
list=[]
for n in range(len(number)):
    list.append(number[n])
print(list)

Enter a number: 586392
['5', '8', '6', '3', '9', '2']

15. Write a program that finds the longest palindromic substring of a given
string

In [ ]:
def longestpalindrome(n):
    d=[[False for i in range(len(n))] for i in range(len(n))]
    for i in range(len(n)):
        d[i][i]=True
    maxlen=1
    start=0
    for j in range(2,len(n)+1):
        for i in range(len(n)-j+1):
            end=i+j
            if j==2:
                if n[i]==n[end-1]:
                    d[i][end-1]=True
                    maxlen=j
                    start=i
            else:
                if n[i]==n[end-1] and d[i+1][end-2]:
                    d[i][end-1]=True
                    maxlen=j
                    start=i
    return n[start:start+maxlen]
n=input("Enter a string : ")
print(longestpalindrome(n))

Enter a string : krishnasai
asa

16. Substring Check (Bug Funny)
Given two binary strings, A (of length 10) and B (of length 5), output 1 if B is
a substring of A and 0 otherwise.
First two lines of input:
1010110010 10110
1110111011 10011
First two lines of output:
1
0

In [11]:
t=int(input())
s=int(input())
A=input("enter A string:")
B=input("enter B string:")
if B in A:
  print("1")
else:
    print("0")

101011001010110
1110111011101100
enter A string:bug
enter B string:funny
0

10. Write a program that reads a date from the user and computes its
immediate successor. The date is the format YYYY-MM-DD. So, 2020-04-15
will have the successor 2020-04-16.

In [14]:
year=int(input("Enter a year : "))
if year%400== 0:
    leapyear=True
elif year%100==0:
    leapyear=False
elif year%4==0:
    leapyear=True
else:
    leapyear=False
month=int(input("Enter a month between 1 to 12 : "))
if month in (1, 3, 5, 7, 8, 10, 12):
    monthlength=31
elif month==2:
    if leapyear:
        monthlength=29
    else:
        monthlength=28
else:
    monthlength=30
day=int(input("Enter a day between 1 to 31 : "))
if day<monthlength:
    day+=1
else:
    day=1
    if month==12:
        month=1
        year+=1
    else:
        month+=1
print("The immediate successor is YYYY-MM-DD : %d-%d-%d." %(year,month,day))

Enter a year : 2020
Enter a month between 1 to 12 : 11
Enter a day between 1 to 31 : 14
The immediate successor is YYYY-MM-DD : 2020-11-15.

8. Units of Time
Create a program that reads duration from the user as a number of days,
hours, minutes, and seconds. Compute and display the total number of
seconds represented by this duration.

In [17]:
secpermin=60
secperhour=3600
secperday=86400
days=int(input("Enter the number of Days: "))
hours=int(input("Enter the number of Hours: "))
minutes=int(input("Enter the number of Minutes: "))
seconds=int(input("Enter the number of Seconds: "))
totalseconds=days*secperday
totalseconds=totalseconds+(hours*secperhour)
totalseconds=totalseconds+(minutes*secpermin)
totalseconds=totalseconds+seconds
print("Total number of seconds = ","%d"%(totalseconds))

Enter the number of Days: 1
Enter the number of Hours: 1
Enter the number of Minutes: 1
Enter the number of Seconds: 1
Total number of seconds =  90061

17. POUR1 - Pouring water
Given two vessels, one of which can accommodate a litres of water and the other
- b litres of water, determine the number of steps required to obtain
exactly c litres of water in one of the vessels.
At the beginning both vessels are empty. The following operations are counted as
'steps':
 emptying a vessel,
 filling a vessel,
 pouring water from one vessel to the other, without spilling, until one of
the vessels is either full or empty.
Input
An integer t, 1<=t<=100, denoting the number of testcases , followed by t sets of
input data, each consisting of three positive integers a, b, c, not larger than
40000, given in separate lines.
Output
For each set of input data, output the minimum number of steps required to
obtain c litres, or -1 if this is impossible.

In [22]:
def gcd(a,b):
    if b==0: 
        return a 
    return gcd(b,a%b) 
def countsteps(a,b,c): 
    v1=b
    v2=0
    count=1
    while ((v1 is not c) and (v2 is not c)): 
        temp=min(v1,a-v2) 
        v2=v2+temp 
        v1=v1-temp 
        count=count+1
        if ((v2==c)or(v1==c)): 
            break
        if v1==0: 
            v1=b 
            count=count+1
        if v2==a: 
            v2=0
            count=count+1
    return count 
def ispossible(a,b,c): 
    if a>b: 
        temp=a 
        a=b 
        b=temp 
    if c>b: 
        return -1
    if (c%(gcd(b,a)) is not 0): 
        return -1
    return(min(countsteps(b,a,c),countsteps(a,b,c)))
t=int(input("Enter no of testcases : "))
for i in range(t):
  a=int(input("Enter capacity of vessel a : "))
  b=int(input("Enter capacity of vessel b : "))
  c=int(input("Enter capacity to be obtained :"))
  print("Minimum number of steps required is : ",ispossible(a,b,c))

Enter no of testcases : 10
Enter capacity of vessel a : 15
Enter capacity of vessel b : 10
Enter capacity to be obtained :20
Minimum number of steps required is :  -1
Enter capacity of vessel a : 10
Enter capacity of vessel b : 20
Enter capacity to be obtained :30
Minimum number of steps required is :  -1
Enter capacity of vessel a : 5
Enter capacity of vessel b : 19
Enter capacity to be obtained :30
Minimum number of steps required is :  -1
Enter capacity of vessel a : 15
Enter capacity of vessel b : 15
Enter capacity to be obtained :30
Minimum number of steps required is :  -1
Enter capacity of vessel a : 10
Enter capacity of vessel b : 10
Enter capacity to be obtained :10
Minimum number of steps required is :  1
Enter capacity of vessel a : 40
Enter capacity of vessel b : 10
Enter capacity to be obtained :30
Minimum number of steps required is :  2
Enter capacity of vessel a : 30
Enter capacity of vessel b : 10
Enter capacity to be obtained :20
Minimum number of steps required is :  2
Enter capacity of vessel a : 18
Enter capacity of vessel b : 29
Enter capacity to be obtained :30
Minimum number of steps required is :  -1
Enter capacity of vessel a : 20
Enter capacity of vessel b : 10
Enter capacity to be obtained :25
Minimum number of steps required is :  -1
Enter capacity of vessel a : 50
Enter capacity of vessel b : 30
Enter capacity to be obtained :30
Minimum number of steps required is :  1